/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html.dark {
    color-scheme: dark;
}

body {
    @apply bg-white dark:bg-black text-gray-900 dark:text-white transition-colors duration-300;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
